extends layout

block content
  h2 Servidor Fornecendo uma REST API nos caminhos: 
  p /clientes
  p /produtos
  
  p Essa API fornece as funcionalidades de um CRUD, aceitando os métodos HTTP GET, POST, PUT e DELETE.

  p Projeto Desenvolvido por Lucas Vieira Ribeiro para a Disciplina de Desenvolvimento Backend 2, do Professor Gustavo.
  
